<h2>Previsão do Tempo</h2>

<h3>Data e hora da consulta</h3>
<p>{{ dataHora }}</p>

<h3>Temperatura atual</h3>
<p>{{ temperatura }} ºC</p>

<h3>Descrição do tempo atual</h3>
<p>{{ descricao }}</p>

<h3>Agora é</h3>
<p class="capitalize">{{ diaNoite }}</p>

<h3>Umidade</h3>
<p>{{ umidade }}</p>

<h3>Velocidade do vento</h3>
<p>{{ velocidadeVento }}</p>

<h3>Nascer do sol</h3>
<p>{{ nascerSol }}</p>

<h3>Pôr do sol</h3>
<p>{{ porSol }}</p>

<h3>Condição de tempo atual</h3>
<p class="capitalize">{{ condicao }}</p>

<h3>Média de temperatura máxima para a semana</h3>
<p>{{ mediaTempMax }} ºC</p>

<h3>Média de temperatura mínima para a semana</h3>
<p>{{ mediaTempMin }} ºC</p>

<button mat-raised-button mat-dialog-close color="primary">Fechar</button>